- content_for :header_tags do
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

.hero-widget
  .hero-widget__text
    %h4
		= Tausch und Spendenplattform für die Stadt Lorch.
- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          = svg_logo_full

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
