- content_for :header_tags do
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

.hero-widget
  .hero-widget__text
    %b= 'HINWEIS'
    %p= 'Willkommen auf der Biet und Suchplattform für Flüchtlinge aus der Ukraine. Um Dinge anbieten zu können, erstellen Sie bitte einen Account. Alle Ihre Daten werden sicher und geheim verarbeitet.'
- content_for :content do
  .container-alt
    .rich-formatting-centered
      %p= 'lorch.social'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
